[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
tabulate = "*"
click = "<7"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
dyndns = "python dyndns.py"
